@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

nav,
h2 ,p{
  font-family: "Bai Jamjuree", serif;

}

h1
{
  font-family: "Montserrat", serif;
}



.slider-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .prev-arrow, .next-arrow {
    cursor: pointer;
    z-index: 10;
  }
  
  .service-head h1{
    margin-left: -2rem;
  }
  .service-head1 h1{
    margin-left: -3rem;
  }

  @keyframes slides {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-60%);
    }
  }

  .logos {
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
    position: relative;
    margin-left: 5px;
    width: 100%;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
  }

  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }

  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }

  .logo_items {
    display: inline-block;
    animation: 35s slides infinite linear;
  }

  .logos:hover .logo_items {
    animation-play-state: paused;
  }

  .logo_items img {
    margin-left: 25px;
  }

  @media (max-width: 640px) {
    .logos:before,
    .logos:after {
      content: none;
    }
  }
  

 


  .active {
    transform: scale(1.1);
    z-index: 10;
  }
  .inactive {
    opacity: 0.6;
  }








  .card {
    position: relative;
    width: 452px;
    height: 553px !important;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: ; */
    
   
  }

 

  .project-card .card h2 {
    font-size: 30px;
    margin-top: 300px !important;
  }

  .project-card .card p {
    font-size: 16px;
   
  }


  .project-card .card img {
    object-fit: contain;
    width: 100%;
  }
  .project-card .card .content {
    position: absolute;
    padding: 5%;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    /* backdrop-filter: blur(15px); */
    box-shadow: 0 -10px 10px rgb(#3F37A5);
    /* border: 1px solid rgba(109, 172, 255, 0.795); */
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(158, 84, 255, 0.397)); */
    
    transition: bottom 0.5s;
    transition-delay: 0.65s;
    font-weight: 500;
  }
  .project-card .card:hover .content {
    bottom: 0;
    transition-delay: 0s;
    height:500px;
  }
  .project-card .card .content .contentBx h3 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-50px);
  }
  .project-card .card:hover .content .contentBx h3 {
    opacity: 1;
    transform: translateY(0);
  }
  .project-card .card .content .contentBx h3 span {
    font-size: 25px;
    font-weight: 300;
    text-transform: initial;
  }
  .project-card .card .content .sci {
    position: relative;
    bottom: 10px;
    display: flex;
  }
  .project-card .card .content .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
  }
  
  .project-card .card:hover .content .sci li {
    transform: translateY(0);
    opacity: 1;
  }
  .project-card .card .content .sci li a {
    color: white;
    font-size: 24px;
  }
  


.work-list{
  margin-top: 0rem !important;
}




.about-grid{
  align-items: center;
}







/* Hide scrollbar but still allow scrolling */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  
}

.cards{
  cursor: pointer;
}


.card-par3{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transition : height 0.3s ease;
}

.card-par3_0{
  display: flex;
  align-items: flex-end;
  transition : height 0.3s ease;
}

.service-img{
  margin-left: 26rem;
}
.navbar{
  background-color: rgb(255, 255, 255);
  height: 80px;
  margin-top: 40px;
  border-radius: 16px;
  width: 80%;
  margin-inline: auto;
  padding: 1rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.navbar-toggler{
  border: none !important;
  font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}
.nav-link{
  color: rgb(0, 0, 0);
  font-weight: 900 !important;
  position: relative;
}
.nav-link:hover, .nav-link.active{
  color: black;
}

.social-link{
  gap: 5px;
}
.active{
  margin-left: 15px;
}
@media (min-width:991px){
  .nav-link:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 2px;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before{
    width: 100%;
    visibility: visible;
  } 
}

.service-text{
  /* flex-direction: column !important; */
  width: 100%;
  margin-top: -2rem;

}
.enquiry{
  display: flex !important;
  
}
.enquiry-box{
  align-items: center;
 
}
.second-back{
 padding: 20px;
}

.backgroundimg{
  padding: 20px !important;
}


@media(min-width:400px){
  .para{
    margin-top: 34px !important;
  }
 
.backgroundimg{
  padding: 5px !important;
}
 
  
}




@media(max-width:600px){

.navbar{
  width: 90%;
  margin-top: 20px;
}

.backgroundimg{
  padding: 10px;
}
.project-sect .card{
  width: 300px;
  height: auto !important;
  align-items: center;
}

 .footer-sect{
    /* width: 31rem; */
    padding-top: 3rem !important;
    width: 100%;
    flex-direction: column;
 }
 .footer-top{
  margin-top: -3rem;
}
.serv-img{
  margin-left: -8rem;
}

.service-hero{
  margin-top: 100px !important;
}
.enquiry{
  flex-direction: column !important;
  text-align: left !important;
  
}


}

@media(min-width:600px){
  /* header{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  } */


 
 
  .footer-sec{
    display: flex !important;
    /* width: 41rem; */
    gap: 1rem;
  }
  .footer-top{
    margin-top: -5rem ;
  }

  
}
@media(max-width:900px){
  /* header{
  
    margin-right: 2rem !important;
  } */
  .footer-sec{
    display: flex !important;
    width: 41rem;
    gap: 10rem;
  }
  .footer-top{
    margin-top: -3rem;
  }
 
  /* .project-sect .card {
    width: 633px !important;
    height: auto !important;
    align-items: center;
  }
   */
  .service-para{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer-para{
    margin-top: -1rem !important;
  }
  .footer-para-ser{
    margin-top: -2rem !important;
  }

}

@media(max-width:1025){
  .service-para{
    padding-left: 5rem;
    padding-right: 2rem;
  }
  .why-choose h2{
    font-size: 2rem;
  }
}

.footer-sec{
  margin-left: -9rem;
  width: 100%;
}
.footer-section{
  margin-left: -9rem;
  width: 34vh;
}
